<div class="mt-4">
    <h3 class="form-name">CẬP NHẬT KHÓA HỌC</h3>
    <form class="create-form" method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="mb-3">
            <label class="form-label">Tên khóa học</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name">
        </div>
        <div class="mb-3">
            <label class="form-label">Mô tả</label>
            <input type="text" class="form-control" value="{{course.description}}" id="description" name="description">
        </div>
        <div class="mb-3">
            <label class="form-label">Video ID</label>
            <input type="text" class="form-control" value="{{course.videoId}}" id="video" name="videoId">
        </div>
        <div class="mb-3">
            <label class="form-label">Trình độ</label>
            <input type="text" class="form-control" value="{{course.level}}" id="level" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>